PlsqlDeveloperUtPlsqlPlugin/.vs
PlsqlDeveloperUtPlsqlPlugin/packages
PlsqlDeveloperUtPlsqlPlugin/PlsqlDeveloperUtPlsqlPlugin/bin
PlsqlDeveloperUtPlsqlPlugin/PlsqlDeveloperUtPlsqlPlugin/obj

PlsqlDeveloperUtPlsqlPlugin/XmlTest/bin
PlsqlDeveloperUtPlsqlPlugin/XmlTest/obj